
<div align="center">
  <a >
    <img src="images/impleo_logo.png" alt="Logo" >
  </a>
</div>

# KLV Injector SDK.NET
**KLV Injector SDK.NET** is an "ITAR-free" library that provides stream/file playback and MISB KLV extraction/decoding functionality.  
More [info](https://impleotv.com/products/sdks/klvinjectorsdk-net/).

## System Requirements
OS: Windows 10 64 bit.

## Installation

**KLV Injector SDK.NET** can be downloaded as a **zip** file that contains the installer. Unzip the **SetupStanagInjectorSDK.Net.zip** file and run the **SetupStanagInjectorSDK.Net.exe**.  
The corresponding version of a low-level binaries **StCore setup** (for redistribution) is also provided, along with the SDK. 

## Download links

| Software | Version              | Download link                                                           | 
|:-----|:-------------------------|:------------------------------------------------------------------------------|
| **KLV Injector SDK.NET**  |  {{version}} | [SetupStanagInjectorSDK.Net.zip](https://github.com/impleotv/klv-injector-sdk-release/releases/latest/download/SetupStanagInjectorSDK.Net.zip) | 
| **StCore**  |   | [StCoreSetup-x64.zip](https://github.com/impleotv/klv-injector-sdk-release/releases/latest/download/StCoreSetup-x64.zip) | 

*Released on {{date}}*

## License

No license is needed for SDK evaluation - it will work in demo mode (with some restrictions, like the max number of processed packets and only lower tags (< 15) support).

**KLV Injector SDK.NET** is a node-locked software, so you have to get a license (**after purchasing the SDK**) in order to lift demo restrictions. Please install it and fill out an [online form](https://docs.google.com/forms/d/e/1FAIpQLSd_XW6bDsFce1G1cpds4gMQNlwNax0CvkWzcMbscxZ5rLaIbA/viewform), providing the ***Node Info*** string (IMPORTANT!!!) for the target machine.  
***Node Info*** string can be seen when you run the demo app, as shown below.  

```
C:\Program Files\ImpleoTV\StanagInjectorSdkNet\bin\x64\KlvInjectorTestApp.exe
```

<div align="center">
  <a >
    <img src="images/license.png" alt="License" >
  </a>
</div>  

Please copy-paste *Node Info*, don't send an image...

You'll get back a **license** file and a **key** that can be used in ***Activate*** method

> For large quantities, please contact us for an **unlocked license**.
